a {
  text-decoration: none;
  color: #ffffff;
  padding: 1vh 0;

  transition-duration: 0.3s;
}

a.text-link:hover {
  width: 10em;
  background-color: #ffffff;
  color: #33323d;

  border-radius: 5px;
}

.footer {
  background-color: #33323d;
  padding: 5vh 0;
}
.flex {
  display: flex;
  flex-direction: column;

  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 0 3vh 0;
}
.logo {
  margin: 3vh 0;
}
.icon {
  color: #ffffff;
}
.gap {
  column-gap: 3vw;
}
