.tech {
  --mdc-chip-elevated-container-color: #5fb4a2;
  --mdc-chip-label-text-color: #fff;
}
.style {
  --mdc-chip-elevated-container-color: #20404ca1;
  --mdc-chip-label-text-color: #fff;
}
.db {
  --mdc-chip-elevated-container-color: #325068;
  --mdc-chip-label-text-color: #fff;
}
.other {
  --mdc-chip-elevated-container-color: #8584841f;
  --mdc-chip-label-text-color: #5fb4a2;
}
