<div>
  <h2>Skills:</h2>
  <mat-chip-listbox>
    <mat-chip class="tech">HTML</mat-chip>
    <mat-chip class="tech">CSS</mat-chip>
    <mat-chip class="tech">TYPESCRIPT</mat-chip>
    <mat-chip class="tech">JAVASCRIPT</mat-chip>
    <mat-chip class="tech">ANGULAR</mat-chip>
    <mat-chip class="tech">REACT</mat-chip>
    <mat-chip class="tech">RXJS</mat-chip>
    <mat-chip class="tech">NGRX</mat-chip>
    <mat-chip class="tech">D3.JS</mat-chip>
    <mat-chip class="tech">NODE.JS</mat-chip>
  </mat-chip-listbox>
</div>
