<div>
  <h2>Technologies:</h2>
  <mat-chip-listbox>
    <mat-chip class="tech">HTML</mat-chip>
    <mat-chip class="tech">CSS</mat-chip>
    <mat-chip class="tech">TYPESCRIPT</mat-chip>
    <mat-chip class="tech">JAVASCRIPT</mat-chip>
    <mat-chip class="tech">ANGULAR</mat-chip>
    <mat-chip class="tech">REACT</mat-chip>
    <mat-chip class="tech">RXJS</mat-chip>
    <mat-chip class="tech">NGRX</mat-chip>
    <mat-chip class="tech">D3.JS</mat-chip>
    <mat-chip class="tech">NODE.JS</mat-chip>
    <mat-chip class="tech">JEST</mat-chip>
    <mat-chip class="tech">REST API</mat-chip>

    <mat-chip class="style">ANGULAR MATERIALS</mat-chip>
    <mat-chip class="style">BOOTSTRAP</mat-chip>
    <mat-chip class="style">TAILWIND</mat-chip>
    <mat-chip class="style">MATERIAL UI</mat-chip>
    <mat-chip class="style">SCSS</mat-chip>

    <mat-chip class="db">MYSQL</mat-chip>
    <mat-chip class="db">SQLITE</mat-chip>

    <mat-chip class="other">GITLAB</mat-chip>
    <mat-chip class="other">GITHUB</mat-chip>
    <mat-chip class="other">VSCODE</mat-chip>
    <mat-chip class="other">AGILITY.AI</mat-chip>
  </mat-chip-listbox>
</div>
