a {
  color: #fff;
  text-decoration: none;
  margin: 3vh 0;
  width: 100px;
}
a:hover {
  background-color: #fff;
  color: #203a4c;
  border-radius: 5px;
}
.spacer {
  flex: 1 1 auto;
}
.spacer-nested {
  position: relative;
  display: flex;
  justify-content: space-around;

  background-color: #203a4c;
  text-align: center;
}
.width-80 {
  margin: 2.5vw;
}
.full {
  display: none;
}

@media screen and (min-width: 769px) {
  .mobile {
    display: none;
  }
  a {
    color: #203a4c;
    padding: 1vh 2vw;
  }
  a:hover {
    color: #fff;
    background-color: #203a4c;
  }
  .full {
    display: block;
  }
}
