<div class="margin-10">
  <article class="bg-img spacing-v center">
    <p class="header">Hello, I'm Sharon Moran and I'm a Frontend Developer.</p>
    <!-- <button>ABOUT ME</button> -->
  </article>
  <article class="spacing-v flex row">
    <img class="selfie" src="../../assets/img/selfie.JPG" alt="Selfie" />
    <hr class="line" />
    <div class="spacing-w flex center">
      <p>
        I'm a Frontend Developer looking for a new role in an exciting company.
        I focus on writing accessible HTML, using modern CSS practices and
        writing clean Typescript. I typically develop using Angular, however I
        am very adaptable and am also comfortable with JavaScript and React.
        Atlanta, GA is where I am currently located, but I am happy to take on
        remote roles as well and have experience developing in remote and hybrid
        teams. When I'm not coding you'll typically find me kayaking along with
        my dog Merry as we both love putting on our life jackets and taking to
        the waterways. Thank you for visiting my portfolio and taking time to
        review my work.
      </p>
      <button>GO TO PORTFOLIO</button>
    </div>
    <hr class="line" />
  </article>
  <app-skills></app-skills>
  <section class="spacing-v flex center">
    <p>Interested in doing a project together?</p>
    <button>CONTACT ME</button>
  </section>
</div>
