p.header {
  text-align: center;
  color: #ffffffea;

  font-size: x-large;
  font-weight: 500;
}
button {
  width: 150px;
  height: 48px;

  background-color: #203a4c;
  color: #fff;

  transition-duration: 0.3s;
}
button:hover {
  background-color: #fff;
  color: #203a4c;
}

.margin-10 {
  margin: 0 10vw;
}
.spacing-v {
  margin: 3vh 0;
}
.spacing-w {
  margin: 0 3vw;
}
.flex {
  display: flex;
  flex-direction: column;
}
.bg-img {
  height: 15vh;
  background: rgb(61, 224, 190);
  background: radial-gradient(
    circle,
    rgba(61, 224, 190, 1) 0%,
    rgba(7, 23, 101, 1) 100%
  );

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  justify-items: space-around;
}

.center {
  align-items: center;
  justify-content: center;
}

.line {
  border: 5px solid #203a4c;
  width: 80%;
}

@media screen and (min-width: 769px) {
  .row {
    display: flex;
    flex-direction: row;
  }
  .selfie {
    max-width: 30vw;
  }
  .line {
    border: 5px solid #203a4c;
    width: auto;
    margin: 0 1vw;
  }
  .spacing-w {
    margin: 1vw;
  }
  p.header {
    font-size: x-large;
  }
}
